* {
    margin: 0;
    padding: 0;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
  }
.header{
    background-color: rgb(0,0,0,0.5);
}

.bg_im{
    background-image: url("../IMG/bg6.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
}

.page{
width: 1300px;
margin: 0px auto;
position: relative;
}

.menu{
display: flex;
justify-content: space-between;
align-items: center;
align-items: center;
}

.menu .Nhap{
    height: 40px;
    position: relative;
}

.menu .Nhap input::placeholder{
    color: #ccc;
}

.menu .Nhap input{
    width: 400px;
    height: 40px;
    border: 1px solid white;
    border-radius: 2px;
    padding: 0px 10px;
    box-sizing: border-box;
    outline: none;
    background-color: rgb(0, 0, 0,0);
    color: white;
    font-size: 17px;
    border-radius: 10px;
}

.menu .Nhap button{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    box-sizing: border-box;
    border: 0px solid white;
    background-color: rgb(0, 0, 0,0);
    border-radius: 2px;
    cursor: pointer;
    border-radius: 10px;
}

.menu .logo{
    position: relative;
    display: flex;
    justify-content: center;
    
}

.menu .logo a{
    text-decoration: none;
}

.menu .logo h1{
    margin-top: 13px;
    color: white;
    font-family: 'Dancing Script';
    font-size: 50px;
    font-weight: bolder;
}

.menu .contact{
    display: flex;
    font-size: 20px;
    color: white;
    position: relative;
}

.menu2 {
    background-color:rgb(0,0,0,0.6);
    /* position: sticky;
    top: 0px; */
}

.menu2 ul{
    display: flex;
    justify-content: space-between;
    

}

.menu2 ul li{
    width: 150px;
    text-align: center;
    font-size: 20px;
    list-style: none;
    padding: 10px 0px;
}

.menu2 ul li a{
    color: white;
    text-decoration: none;
}

.menu2 ul li a:hover{
    color: #2377ff;
}

.link_page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
    margin-top: 10px;
    font-size: 18px;
}

.link_page a{
    text-decoration: none;
}

.link_page a p{
    color: #000;
}

.link_page p{
    color: #2377ff;
}

.link_page a p:hover{
    text-decoration: underline;
    color: #2377ff;
}

.footer{
    background-color: #2c3e50;
    color: #fff;
}

.footer .ft_header{
    margin-top: 50px;
    padding: 15px 0px;
    font-size: 20px;
}

.gioi_thieu{
    margin: 30px 0px;
}

.gioi_thieu p{
    font-size: 23px;
    margin: 15px 0px;
    line-height: 1.4;
}

.footer .ft_header ul{
    width: 220px;
    
}

.footer .footer_content{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
}

.footer .footer_content .inf_logo{
    display: flex;
    justify-content: left;
    padding: 12px 0px;
}



.footer .footer_content .inf_logo h1{

    margin-top: 13px;
    color: white;
    font-family: 'Dancing Script';
    font-size: 50px;
    font-weight: bolder;
}

.footer .footer_content .contact{
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer .footer_content .contact i{
    margin-right: 5px;
}

.footer .footer_content li{
    list-style: none;
    height: 28px;
}

.footer .footer_content li a{
    color: #fff;
    text-decoration: none;
}

.footer .footer_content li a:hover{
    color: #337ab7;

}

.footer .footer_content .icon a{
    padding-right: 15px;
}

.footer .footer_content .pay{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer .footer_content .logo_pay img{
    background-color: #fff;
}

/*table*/
@media only screen and (min-width: 740px) and (max-width: 1024px){
    .page{
        width: 100%;
    }
    .page .contact{
        display: none;
    }
    .page .Nhap{
        margin-right: 40px;
    }
    .page .link_page,
    .page .gioi_thieu h1{
        margin-left: 6px;
    }
    .page .gioi_thieu p{
        font-size: 16px;
        margin-left: 12px;
    }
    .footer .footer_content .icon a {
        padding-right: 6px;
    }
    .footer .footer_content .inf_logo img{
        width: 70px;
        height: 70px;
    }
    .footer .footer_content .inf_logo h1{
        font-size: 44px;
    }
    .footer .footer_content .logo_pay img{
        width: 40px;
        height: 26px;
    } 
    
}

/*mobie*/
@media only screen and (max-width: 740px){

    .bg_im{
        height: 120px;
    }
    .header{
        height: 120px;
    }
    .bg_im .menu .logo{
        padding-top: 10px;
    }
    .menu2 .page,
    .page .contact,
    .page .Nhap{
        display: none;
    }
    .page{
        width: 100%;
    }
    .page .link_page,
    .page .gioi_thieu h1{
        margin-left: 4px;
    }
    .page .gioi_thieu p{
        font-size: 20px;
        margin-left: 8px;
    }
    
    .footer .page .cont{
        display: none;
    }
    .footer .footer_content{
        display: block;
    }
    .footer .Information ul{
        display: inline-block;
        margin-left: 12px;
    }
    .footer .net{
        margin-left: 12px;
        padding-bottom: 20px;
    }
    .footer .net .ft_header {
        margin-top: 20px;
    }
    .footer .net .icon{
        margin-left: 24px;
    }
    .footer .net .icon a {
        padding-right: 35px;
    }

    .footer .net .logo_pay img {
       margin-right: 18px;
    }
    .footer .net .logo_pay{
        margin-left: 20px;
    }
}